<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- /* display: inline-block; border:2px solid Black; */ -->
<pre><code style="font-family: Fira Code Medium,sans-serif;">
<span style="font-weight: bold;font-size: large;">Input:</span>

<span>2-D Array: @arr</span>
<span>Header: @header</span>
<span>Index: @index</span></code></pre>
<!-- Từ đây trở xuống đừng sửa gì cả, chỉ thay đổi bên trong style của tag <Code> -->
<pre><code style="font-family: Fira Code Medium,sans-serif;">
<span style="font-weight: bold;font-size: large;">Output:</span>

@output
</code></pre>
</body>
</html>